* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-size: 18;
    letter-spacing:2px;
    border: 1px black solid;
}
.body-wrapper {
    background: #f9f9ed;
    height: 100vh;
}
header {
    letter-spacing: 3px;
}
header, footer {
    text-align: center;
    margin: 0 0 0 0;
    padding:3rem 0 3rem 0;
    border: 2px rgba(139.3,139.3,139.3,.5) solid;
    background: #757083;
    color: #f9f9ed;
    font-size: 1.5rem;
}
.main {
    background: #e9724c;
    padding: 0 0 2rem 0;
}
.journalForm {
    margin: 2rem;
    padding: 2rem;

}
.navbar {
    display: flex;
    justify-content: space-evenly;
    background: #474056;
}

nav button {
    padding: .8rem;
    width: 22%;
    margin: 1rem;
    border-radius: 12px;
    outline: none;
    font-size: 1.4rem;
}
.delete-edit {
    background: #BC2C1A;
}
.addEntry {
    background: #26A96C;
}
.calendar {
    background: #5bc0eb
}

input{
    width: 200px;
    
    line-height: 2em;
}
fieldset {
    margin: .2rem;
    padding:.2rem;
    border: 2px rgba(139.3,139.3,139.3,.5) solid;
    border-radius: 6px;
}
/* select {
  background-color: white;
  border: thin solid grey;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.2em;
  width: 200px;
  padding: 0.5em 3.5em 0.5em 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select.arrows {
  background-image:    url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA3klEQVRIS+3VMU9CMRTF8d8zBL+aizoQFhx0kUk33RzdYMNFXUFnYeGrYYyaJiUxJHDLSxodbNKpfeffc9/pbaPyaCrr+3OA++z4rtT5Pg5GuMnCY9yWQEoBE1xhlUUP8YDrCBIB0vojLvGO0yz4hm4JJAKcYYoPHGOZAUdYoIMBXrc5iQAHeMlzviFygj7O8dkWEJU4XI8chALRhn9AVKHf70VRTHu4wFfbmKZLNKt50dLBnna0imcMd/2I0phWa3Y/D1e1Xa9BCZJG0VuQNpaWKMx72xS1Fl5/WN3BN+AgJhnZQlq4AAAAAElFTkSuQmCC');
  background-position: calc(100% - .5rem), 100% 0;
  background-size:  1.5em 1.5em;
  background-repeat: no-repeat;
}

select.arrows:focus {
  border-color: blue;
  outline: 0;
} */
.journalForm {
    background: #7d916e;
    border-radius: 11px;
    border: 3px solid #474056;
}
.text {
    width: auto;
    border:lightslategrey 2px solid ;
    background: #f9f9ed;
}

.formFieldset {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}
.date-filter {
    display:flex;
    justify-content: space-between;
}

.journalEntry {
    margin: 1rem 2rem;
    line-height: 1.5rem;
    font-size: 1.4rem;
}
.journalEntry__title {
    padding: 1rem 0;
}
.mood__buttons {
    display: flex;
    justify-content: space-evenly;
}
.mood {
    padding: .8rem;
    width: 22%;
    margin: 1rem;
    border-radius: 12px;
    outline: none;
    font-size: 1.4rem;
}
.sunny {
    background: rgb(240, 240, 118);
    color: lightskyblue;
}
.partly-sunny {
    background: rgb(240, 192, 104);
    color: rgb(73, 117, 145);
}
.partly-cloudy {
    background: rgb(190, 155, 90);
    color: rgb(28, 39, 46);
}
.overcast {
    background: rgb(97, 75, 34);
    color: rgb(233, 157, 70);
}
.mordor {
    background: rgb(49, 49, 34);
    color:crimson;
}